body {
    background-color: rgb(241, 237, 236);
    position: absolute;
    background-image: url("bg_d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}
/*hover stuff */
.artikel_judul{
   display: none;
}
.butterfly:hover .artikel_judul{
    display: block;
    cursor: pointer;
}
.butterfly:hover .hide{
    display: none;
}
.caterpillar:hover .artikel_judul{
    display: block;
    cursor: pointer;
}
.caterpillar:hover .hide{
    display: none;
}
.cocoon:hover .artikel_judul{
    display: block;
    cursor: pointer;
}
.cocoon:hover .hide{
    display: none;
}
@media screen and (min-width: 2500px) {
    .artikel_judul{
        display: none;
     }
     .butterfly:hover .hide{
         display: block;
     }

     .caterpillar:hover .hide{
         display: block;
     }
     .cocoon:hover .hide{
         display: block;
     }
}


.butterfly img {
    width: 20vw;
    position: absolute;
    left: 18vw;
    top: 3vw;
}
.caterpillar img {
    width: 8vw;
    transform: rotate(20deg);
    position: absolute;
    left: 70vw;
    top: 15vw;
}
.cocoon img {
    width: 10vw;
    position: absolute;
    left: 58vw;
    top: 28vw;
}

.artikel{
    /* background-color: rgb(241, 237, 236); */
    background-attachment: fixed;
    /* background-position:top;  */
    /* background-image: url("bg_d.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    /* background-origin: content-box; */

}

.bgartikel{
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* opacity: 50%; */
    color: white;
}

.artikel h1{
    font-size: 2.75vw;
    font-weight: bold;
}

.artikel h3{
    font-size: 2vw;
}

.artikel h4{
    font-size: 1.75vw;
}

.artikel h5{
    font-size: 1.5vw;
}

.carousel-control-next{
    left: 100%;
}

.carousel-control-prev{
    transform: translateX(-100%);
}

.isi{
    margin-top: -2%;
}
